/* ::::: http://styles.anu.edu.au/anu_global_styles.css ::::: */

.headTitle { font-family: tahoma,sans-serif; font-size: 180%; line-height: 100%; font-weight: normal; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); }
.headSubTitle { font-family: arial,helvetica,sans-serif; font-size: 110%; font-weight: bold; color: rgb(255, 255, 255); }
.footer { font-family: verdana,arial,helvetica,sans-serif; font-size: x-small; font-weight: normal; color: rgb(0, 0, 0); padding: 4px 4px 4px 8px; }
.caption { font-family: verdana,arial,helvetica,sans-serif; font-size: x-small; font-weight: normal; color: rgb(0, 0, 0); }
body { margin: 0px; font-family: verdana,arial,helvetica,sans-serif; font-size: x-small; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
tr { font-size: x-small; font-family: verdana,arial,helvetica,sans-serif; color: rgb(0, 0, 0); }
td { font-size: 115%; font-family: verdana,arial,helvetica,sans-serif; color: rgb(0, 0, 0); }
p { margin: 6px 6px 12px 0px; }
h1, .h1 { font-family: arial,helvetica,sans-serif; font-size: large; font-weight: bold; color: rgb(0, 0, 0); margin-top: 6px; margin-bottom: 6px; }
a, a:link { color: rgb(0, 90, 221); }
a:visited { color: rgb(0, 34, 102); }
a:hover, a:active { color: rgb(140, 124, 60); }
a.lftNav, a.lftNav:link { color: rgb(68, 68, 68); text-decoration: none; }
a.lftNav:visited { color: rgb(0, 34, 102); text-decoration: none; }
a.lftNav:active { color: rgb(140, 124, 60); }
a.lftNav:hover { color: rgb(140, 124, 60); text-decoration: underline; }
a.extNav, a.extNav:link, a.extNav:visited, a.extNav:active { font-size: x-small; color: rgb(255, 255, 255); text-decoration: none; }
a.extNav:hover { font-size: x-small; color: rgb(255, 255, 255); text-decoration: underline; }
.navBlack { color: rgb(0, 0, 0); font-size: x-small; }
.menuBody { border-left: 1px solid rgb(102, 102, 102); border-right: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); }
.menuTable { border-right: 1px solid rgb(221, 221, 221); }
.menuItem { background-color: rgb(255, 255, 255); background-image: url('menu_bg.gif'); border-top: 1px solid rgb(239, 239, 239); border-bottom: 1px solid rgb(221, 221, 221); padding-top: 2px; padding-bottom: 2px; }
